@model List<StockCZ.Models.Domain.Item>

<h2 class="mb-4">Items Index</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.BaseId</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BaseId" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.BaseId" class="btn btn-sm btn-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.BaseId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
